/* main css file*/
/* main css file */

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
label {
    font-size: 20px;
}
form div {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #ccc;
}
form div:nth-child(even) {
    background-color: rgb(232, 239, 242);
}
form #username {
    border: 5px solid purple;
}
.container {
    max-width: 500px;
    text-align: center;
    margin: auto;
}
.border-green {
    border: 1px solid green;
}
.border-blue {
    border: 1px solid blue;
}
 {
    border: 1px solid purple;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.z2 {
    z-index: 2;
}
.z1 {
    z-index: 1;
}
label[for=password], .important {
    color: red;
}
#form_importance {
    list-style: none;
}
#form_importance a {
    color: black;
}
#form_importance a:hover {
    color: blue;
    text-decoration: none;
}
#form_importance a:visited {
    color: red;
}

/* please, Sigita, delete this before release */
.temp_text {
    font-weight: bold;
    line-height: 40px; /* atstumia html elementus */
    padding-bottom: 10px; /* atstumia stiliaus elementus */
    border-bottom: 2px dotted grey;
    display: block;
}
.temp_dot {
    right: -5px;
    bottom: -15px;
    font-size: 80px;
}
